<style>
    .mk-icon {
        position: absolute;
        top: auto;
        bottom: 5px;
        right: 5px;
        z-index: 0;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.15);
    }
</style>
<section class="content">
    <div class="row" ng-repeat="projects in vm.rows">
        <div class="col-lg-2 col-xs-4" ng-repeat="project in projects">
            <!-- small box -->
            <div class="small-box "
                 ng-class="{'bg-aqua':vm.isUnlock(project),'bg-green':vm.isMine(project,user),'bg-red':vm.iWait(project,user),'bg-yellow':!vm.iWait(project,user)&&!vm.isUnlock(project,user)}">
                <div class="inner" style="min-height: 71px">
                    <p>{{ project.name }}
                    </p>
                    <span class="badge"
                          ng-show="project.stack"
                          ng-repeat="stackUser in project.currentUsers"
                          ui-tooltip="stackUser">
                        {{ stackUser.user.username.substring(0,2).toUpperCase() }}
                    </span>
                </div>
                <div class="mk-icon">
                    <i class="fa"
                       ng-class="{'fa-desktop':project.type==='IHM','fa-cogs':project.type==='API'}"></i>
                </div>

                <!-- Take if nobody use this project -->
                <a class="small-box-footer" ng-show="vm.isUnlock(project)" ng-click="vm.take(project)" href="">
                    Take <i class="fa fa-plus-square-o"></i>
                </a>
                <!-- Take if somebody use this project but not you-->
                <a class="small-box-footer"
                   ng-show="!vm.isUnlock(project) && !vm.isMine(project,user) && !vm.iWait(project,user)"
                   ng-click="vm.take(project)" href="">
                    Take next <i class="fa fa-plus-square"></i>
                </a>
                <!-- Release the project if you are the current user-->
                <a class="small-box-footer"
                   ng-show="vm.isMine(project,user)"
                   ng-click="vm.release(project)" href="">
                    Release <i class="fa fa-minus-square-o"></i>
                </a>
                <!-- Release the project even if you are not the current user-->
                <a class="small-box-footer"
                   ng-show="!vm.isMine(project,user) && vm.iWait(project,user)"
                   ng-click="vm.release(project)" href="">
                    Release next <i class="fa fa-minus-square"></i>
                </a>


            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->

</section><!-- /.content -->